In [ ]:
#ML Project

Dataset: Heart Disease Dataset
Source: Kaggle

In [3]:
import pandas as pd

In [150]:
df = pd.read_csv(r'Dataset\raw_merged_heart_dataset.csv')

In [151]:
print(df.head())

   age  sex  cp trestbps chol fbs restecg thalachh exang  oldpeak slope ca  \
0   63    1   3      145  233   1       0      150     0      2.3     0  0
1   37    1   2      130  250   0       1      187     0      3.5     0  0
2   41    0   1      130  204   0       0      172     0      1.4     2  0
3   56    1   1      120  236   0       1      178     0      0.8     2  0
4   57    0   0      120  354   0       1      163     1      0.6     2  0

  thal  target
0    1       1
1    2       1
2    2       1
3    2       1
4    2       1

In [152]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2181 entries, 0 to 2180
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       2181 non-null   int64
 1   sex       2181 non-null   int64
 2   cp        2181 non-null   int64
 3   trestbps  2181 non-null   object
 4   chol      2181 non-null   object
 5   fbs       2181 non-null   object
 6   restecg   2181 non-null   object
 7   thalachh  2181 non-null   object
 8   exang     2181 non-null   object
 9   oldpeak   2181 non-null   float64
 10  slope     2181 non-null   object
 11  ca        2181 non-null   object
 12  thal      2181 non-null   object
 13  target    2181 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 238.7+ KB
None

In [153]:
print(df.describe())

               age          sex           cp      oldpeak       target
count  2181.000000  2181.000000  2181.000000  2181.000000  2181.000000
mean     53.477762     0.693260     1.507565     0.990509     0.496103
std       9.194787     0.461246     1.371587     1.141851     0.500099
min      28.000000     0.000000     0.000000     0.000000     0.000000
25%      46.000000     0.000000     0.000000     0.000000     0.000000
50%      54.000000     1.000000     2.000000     0.600000     0.000000
75%      60.000000     1.000000     2.000000     1.600000     1.000000
max      77.000000     1.000000     4.000000     6.200000     1.000000

In [154]:
print(df.isnull().sum())

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalachh    0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

Although the code says there are no missing values, while exploring the dataset manually I noticed that the missing values are marked as ? so I will go through each feature and see what are the distinct values and if there are any ?

In [155]:
age_question_marks = (df['age'] == '?').sum()
print(f"Number of '?' in the 'age' column: {age_question_marks}")

Number of '?' in the 'age' column: 0

In [156]:
sex_question_marks = (df['sex'] == '?').sum()
print(f"Number of '?' in the 'sex' column: {sex_question_marks}")

Number of '?' in the 'sex' column: 0

In [157]:
cp_question_marks = (df['cp'] == '?').sum()
print(f"Number of '?' in the 'cp' column: {cp_question_marks}")

Number of '?' in the 'cp' column: 0

In [158]:
trestbps_question_marks = (df['trestbps'] == '?').sum()
print(f"Number of '?' in the 'trestbps' column: {trestbps_question_marks}")

Number of '?' in the 'trestbps' column: 1

In [159]:
for column in df.columns:
    question_mark_count = (df[column] == '?').sum()
    print(f"Number of '?' in the '{column}' column: {question_mark_count}")

Number of '?' in the 'age' column: 0
Number of '?' in the 'sex' column: 0
Number of '?' in the 'cp' column: 0
Number of '?' in the 'trestbps' column: 1
Number of '?' in the 'chol' column: 23
Number of '?' in the 'fbs' column: 8
Number of '?' in the 'restecg' column: 1
Number of '?' in the 'thalachh' column: 1
Number of '?' in the 'exang' column: 1
Number of '?' in the 'oldpeak' column: 0
Number of '?' in the 'slope' column: 190
Number of '?' in the 'ca' column: 291
Number of '?' in the 'thal' column: 266
Number of '?' in the 'target' column: 0

While manually exploring the data I noticed some other unexpected values, so I will chack for those as well

In [160]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in the '{column}' column: {unique_values}")

Unique values in the 'age' column: [63 37 41 56 57 44 52 54 48 49 64 58 50 66 43 69 59 42 61 40 71 51 65 53
 46 45 39 47 62 34 35 29 55 60 67 68 74 76 70 38 77 28 30 31 32 33 36]
Unique values in the 'sex' column: [1 0]
Unique values in the 'cp' column: [3 2 1 0 4]
Unique values in the 'trestbps' column: ['145' '130' '120' '140' '172' '150' '110' '135' '160' '105' '125' '142'
 '155' '104' '138' '128' '108' '134' '122' '115' '118' '100' '124' '94'
 '112' '102' '152' '101' '132' '148' '178' '129' '180' '136' '126' '106'
 '156' '170' '146' '117' '200' '165' '174' '192' '144' '123' '154' '114'
 '164' '98' '190' '?' '113' '92' '158']
Unique values in the 'chol' column: ['233' '250' '204' '236' '354' '192' '294' '263' '199' '168' '239' '275'
 '266' '211' '283' '219' '340' '226' '247' '234' '243' '302' '212' '175'
 '417' '197' '198' '177' '273' '213' '304' '232' '269' '360' '308' '245'
 '208' '264' '321' '325' '235' '257' '216' '256' '231' '141' '252' '201'
 '222' '260' '182' '303' '265' '309' '186' '203' '183' '220' '209' '258'
 '227' '261' '221' '205' '240' '318' '298' '564' '277' '214' '248' '255'
 '207' '223' '288' '160' '394' '315' '246' '244' '270' '195' '196' '254'
 '126' '313' '262' '215' '193' '271' '268' '267' '210' '295' '306' '178'
 '242' '180' '228' '149' '278' '253' '342' '157' '286' '229' '284' '224'
 '206' '167' '230' '335' '276' '353' '225' '330' '290' '172' '305' '188'
 '282' '185' '326' '274' '164' '307' '249' '341' '407' '217' '174' '281'
 '289' '322' '299' '300' '293' '184' '409' '259' '200' '327' '237' '218'
 '319' '166' '311' '169' '187' '176' '241' '131' '132' '?' '161' '173'
 '194' '297' '292' '339' '147' '291' '358' '412' '238' '163' '280' '202'
 '328' '129' '190' '179' '272' '100' '468' '320' '312' '171' '365' '344'
 '85' '347' '251' '287' '156' '117' '466' '338' '529' '392' '329' '355'
 '603' '404' '518' '285' '279' '388' '336' '491' '331' '393']
Unique values in the 'fbs' column: ['1' '0' '?']
Unique values in the 'restecg' column: ['0' '1' '2' '?']
Unique values in the 'thalachh' column: ['150' '187' '172' '178' '163' '148' '153' '173' '162' '174' '160' '139'
 '171' '144' '158' '114' '151' '161' '179' '137' '157' '123' '152' '168'
 '140' '188' '125' '170' '165' '142' '180' '143' '182' '156' '115' '149'
 '146' '175' '186' '185' '159' '130' '190' '132' '147' '154' '202' '166'
 '164' '184' '122' '169' '138' '111' '145' '194' '131' '133' '155' '167'
 '192' '121' '96' '126' '105' '181' '116' '108' '129' '120' '112' '128'
 '109' '113' '99' '177' '141' '136' '97' '127' '103' '124' '88' '195'
 '106' '95' '117' '71' '118' '134' '90' '98' '176' '135' '110' '?' '100'
 '87' '102' '92' '91' '82' '119' '94']
Unique values in the 'exang' column: ['0' '1' '?']
Unique values in the 'oldpeak' column: [2.3 3.5 1.4 0.8 0.6 0.4 1.3 0.  0.5 1.6 1.2 0.2 1.8 1.  2.6 1.5 3.  2.4
 0.1 1.9 4.2 1.1 2.  0.7 0.3 0.9 3.6 3.1 3.2 2.5 2.2 2.8 3.4 6.2 4.  5.6
 2.9 2.1 3.8 4.4 5. ]
Unique values in the 'slope' column: ['0' '2' '1' '?' '3']
Unique values in the 'ca' column: ['0' '2' '1' '3' '4' '?']
Unique values in the 'thal' column: ['1' '2' '3' '0' '?' '6' '7']
Unique values in the 'target' column: [1 0]

Apart from ? there are some other unexpected values. cp has a value of 4 when the values for that feature should be 0,1,2,3.

Slope has value of 3 when the expected values are 0,1,2

ca has value 4 when expected values are 0,1,2,3
thal expected values are 1,2,3 and there are values 6 and 7

In [161]:
expected_values = {
    'cp': [0, 1, 2, 3],
    'slope': [0, 1, 2],
    'ca': [0, 1, 2, 3],
    'thal': [1, 2, 3]
}

#To count the unexpected values that I previously found
def count_unexpected(df, column, valid_values):
    unexpected_count = df[column][~df[column].isin(valid_values)].value_counts()
    return unexpected_count

#Check each specified column
for column, valid_values in expected_values.items():
    print(f"Unexpected values in the '{column}' column: {count_unexpected(df, column, valid_values)}")

Unexpected values in the 'cp' column: cp
4    252
Name: count, dtype: int64
Unexpected values in the 'slope' column: slope
2    964
1    894
?    190
0    114
3     19
Name: count, dtype: int64
Unexpected values in the 'ca' column: ca
0    1086
1     410
?     291
2     239
3     127
4      28
Name: count, dtype: int64
Unexpected values in the 'thal' column: thal
2    874
3    795
?    266
7    115
1     96
6     24
0     11
Name: count, dtype: int64

Unexpected values:

cp: 252 rows of value 4

slope: 19 rows of value 3

ca: 28 rows of value 4

thal: 11 rows of value 0

thal: 24 rows of value 6

thal: 115 rows of value 7

In [162]:
# I imported all of the individual datasets so i can preprocess them and merge them properly
df1 = pd.read_csv(r'C:\Users\elida\OneDrive\Desktop\Uni-Master 2024\ML\ProjectML\Datasets-to-merge\heart.csv')
df2 = pd.read_csv(r'C:\Users\elida\OneDrive\Desktop\Uni-Master 2024\ML\ProjectML\Datasets-to-merge\heart2.csv')
df3 = pd.read_csv(r'C:\Users\elida\OneDrive\Desktop\Uni-Master 2024\ML\ProjectML\Datasets-to-merge\Heart_Disease_Prediction3.csv')
df4 = pd.read_csv(r'C:\Users\elida\OneDrive\Desktop\Uni-Master 2024\ML\ProjectML\Datasets-to-merge\data4.csv')
df5 = pd.read_csv(r'C:\Users\elida\OneDrive\Desktop\Uni-Master 2024\ML\ProjectML\Datasets-to-merge\heart5.csv')

In [163]:
# To see all of the features
print(df1.columns.tolist())
# To see the features of the og dataset
print(df.columns.tolist())

['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh', 'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output']
['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalachh', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']

In [164]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [165]:
# List of features to check 
features = ['cp', 'fbs', 'restecg', 'exng', 'slp', 'caa', 'thall', 'output']
for feature in features:
    print(f"Distinct values in {feature}: {df1[feature].unique()}")

Distinct values in cp: [3 2 1 0]
Distinct values in fbs: [1 0]
Distinct values in restecg: [0 1 2]
Distinct values in exng: [0 1]
Distinct values in slp: [0 2 1]
Distinct values in caa: [0 2 1 3 4]
Distinct values in thall: [1 2 3 0]
Distinct values in output: [1 0]

I need to check the same thing in the other datasets. caa has value 4 which is not intended. Thall shouldn't have the value 0.

In [166]:
caa_counts = df1['caa'].value_counts()
count_of_four = caa_counts.get(4, 0)

total_instances = len(df1)
print(f"'4' appears {count_of_four} times in 'caa' out of {total_instances} instances.")

'4' appears 5 times in 'caa' out of 303 instances.

4 is most likely a mistake made during data entry.

In [167]:
thall_counts = df1['thall'].value_counts()
count_of_zero = thall_counts.get(0, 0)

total_instances = len(df1)
print(f"'0' appears {count_of_zero} times in 'thall' out of {total_instances} instances.")

'0' appears 2 times in 'thall' out of 303 instances.

thall is most likely also a mistake made during data entry.

In [168]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [169]:
#Unique values in Dataset 2
features = ['cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'target']
for feature in features:
    print(f"Distinct values in {feature}: {df2[feature].unique()}")

Distinct values in cp: [0 1 2 3]
Distinct values in fbs: [0 1]
Distinct values in restecg: [1 0 2]
Distinct values in exang: [0 1]
Distinct values in slope: [2 0 1]
Distinct values in ca: [2 0 1 3 4]
Distinct values in thal: [3 2 1 0]
Distinct values in target: [0 1]

caa shouldn't have the value 4 and thal shouldn't have the value 0.

In [170]:
caa_counts = df2['ca'].value_counts()
count_of_four = caa_counts.get(4, 0)

total_instances = len(df2)
print(f"'4' appears {count_of_four} times in 'ca' out of {total_instances} instances.")

'4' appears 18 times in 'ca' out of 1025 instances.

In [171]:
thall_counts = df2['thal'].value_counts()
count_of_zero = thall_counts.get(0, 0)

total_instances = len(df2)
print(f"'0' appears {count_of_zero} times in 'thal' out of {total_instances} instances.")

'0' appears 7 times in 'thal' out of 1025 instances.

Both 4 in ca and 0 in thal are probably mistakes made during data entery.

In [172]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   EKG results              270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 29.7+ KB

In [173]:
features = ['Chest pain type', 'FBS over 120', 'EKG results', 'Exercise angina', 'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease']
for feature in features:
    print(f"Distinct values in {feature}: {df3[feature].unique()}")

Distinct values in Chest pain type: [4 3 2 1]
Distinct values in FBS over 120: [0 1]
Distinct values in EKG results: [2 0 1]
Distinct values in Exercise angina: [0 1]
Distinct values in Slope of ST: [2 1 3]
Distinct values in Number of vessels fluro: [3 0 1 2]
Distinct values in Thallium: [3 7 6]
Distinct values in Heart Disease: ['Presence' 'Absence']

For dataset 3 I need to change the chest pain to go form 0-3 instead of 1-4. Change slope values from 1-3 to 0-2. Change thal values from 3,6,7 to 1-3. Change presence and absence to 1 and 0.

In [174]:
# changing the values from 1-4 to 0-3
replacement_map = {
    1: 0,
    2: 1,
    3: 2,
    4: 3
}
df3['Chest pain type'] = df3['Chest pain type'].replace(replacement_map)

In [175]:
print(df3['Chest pain type'].value_counts())

Chest pain type
3    129
2     79
1     42
0     20
Name: count, dtype: int64

In [176]:
# changing the values from 1-3 to 0-2 of slope feature
replacement_map = {
    1: 0,
    2: 1,
    3: 2
}
df3['Slope of ST'] = df3['Slope of ST'].replace(replacement_map)

In [177]:
print(df3['Slope of ST'].value_counts())

Slope of ST
0    130
1    122
2     18
Name: count, dtype: int64

In [178]:
# changing the values 3->1, 6->2, 7->3 for Thallium feature
replacement_map = {
    3: 1,
    6: 2,
    7: 3
}
df3['Thallium'] = df3['Thallium'].replace(replacement_map)
print(df3['Thallium'].value_counts())

Thallium
1    152
3    104
2     14
Name: count, dtype: int64

In [179]:
# changing the values Heart Disease feature
replacement_map = {
    'Presence': 1,
    'Absence': 0
}
df3['Heart Disease'] = df3['Heart Disease'].replace(replacement_map)
print(df3['Heart Disease'].value_counts())

Heart Disease
0    150
1    120
Name: count, dtype: int64

C:\Users\elida\AppData\Local\Temp\ipykernel_14532\2247834156.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['Heart Disease'] = df3['Heart Disease'].replace(replacement_map)

In [180]:
features = ['Chest pain type', 'FBS over 120', 'EKG results', 'Exercise angina', 'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease']
for feature in features:
    print(f"Distinct values in {feature}: {df3[feature].unique()}")

Distinct values in Chest pain type: [3 2 1 0]
Distinct values in FBS over 120: [0 1]
Distinct values in EKG results: [2 0 1]
Distinct values in Exercise angina: [0 1]
Distinct values in Slope of ST: [1 0 2]
Distinct values in Number of vessels fluro: [3 0 1 2]
Distinct values in Thallium: [1 3 2]
Distinct values in Heart Disease: [1 0]

In [181]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       294 non-null    int64
 1   sex       294 non-null    int64
 2   cp        294 non-null    int64
 3   trestbps  294 non-null    object
 4   chol      294 non-null    object
 5   fbs       294 non-null    object
 6   restecg   294 non-null    object
 7   thalach   294 non-null    object
 8   exang     294 non-null    object
 9   oldpeak   294 non-null    float64
 10  slope     294 non-null    object
 11  ca        294 non-null    object
 12  thal      294 non-null    object
 13  num       294 non-null    int64
dtypes: float64(1), int64(4), object(9)
memory usage: 32.3+ KB

In [182]:
features = ['cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'num']
for feature in features:
    print(f"Distinct values in {feature}: {df4[feature].unique()}")

Distinct values in cp: [2 1 3 4]
Distinct values in fbs: ['0' '?' '1']
Distinct values in restecg: ['2' '0' '1' '?']
Distinct values in exang: ['0' '1' '?']
Distinct values in slope: ['?' '2' '1' '3']
Distinct values in ca: ['?' '0']
Distinct values in thal: ['?' '6' '3' '7']
Distinct values in num: [0 1]

We can see a lot of fields have ?, which is a representation of missing values.
Values in cp should go from 0-3 instead of 1-4. Change values in thal from 3,6,7 to 1,2,3.

In [183]:
# changing the values form 1-4 to 0-3 for cp feature
replacement_map = {
    1: 0,
    2: 1,
    3: 2,
    4: 3
}
df4['cp'] = df4['cp'].replace(replacement_map)
print(df4['cp'].value_counts())

cp
3    123
1    106
2     54
0     11
Name: count, dtype: int64

In [184]:
# changing the values 3->1, 6->2, 7->3 for thal feature
replacement_map = {
    3: 1,
    6: 2,
    7: 3
}
df4['thal'] = df4['thal'].replace(replacement_map)
print(df4['thal'].value_counts())

thal
?    266
7     11
6     10
3      7
Name: count, dtype: int64

So the code above didn't work because I didn't address the ? values.

In [189]:
import numpy as np

In [190]:
# I change ? to be NaN value 
df4['thal'] = df4['thal'].replace('?', np.nan)
# to make sure that the column is a numaric type after changing ? to NaN
df4['thal'] = pd.to_numeric(df4['thal'], errors='coerce')
replacement_map = {
    3: 1,
    6: 2,
    7: 3
}
df4['thal'] = df4['thal'].replace(replacement_map)
print(df4['thal'].value_counts())

thal
3.0    11
2.0    10
1.0     7
Name: count, dtype: int64

In [191]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       289 non-null    int64
 1   sex       289 non-null    int64
 2   cp        289 non-null    int64
 3   trtbps    289 non-null    int64
 4   chol      289 non-null    int64
 5   fbs       289 non-null    int64
 6   restecg   289 non-null    int64
 7   thalachh  289 non-null    int64
 8   exng      289 non-null    int64
 9   oldpeak   289 non-null    float64
 10  slp       289 non-null    int64
 11  caa       289 non-null    int64
 12  thall     289 non-null    int64
 13  output    289 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 31.7 KB

In [192]:
features = ['cp', 'fbs', 'restecg', 'exng', 'slp', 'caa', 'thall', 'output']
for feature in features:
    print(f"Distinct values in {feature}: {df5[feature].unique()}")

Distinct values in cp: [3 2 1 0]
Distinct values in fbs: [1 0]
Distinct values in restecg: [0 1 2]
Distinct values in exng: [0 1]
Distinct values in slp: [0 2 1]
Distinct values in caa: [0 2 1 3 4]
Distinct values in thall: [1 2 3 0]
Distinct values in output: [1 0]

4 in caa is unexpected, the values go from 0-3. thal should go from 1-3

In [195]:
print(df5['caa'].value_counts())

caa
0    170
1     61
2     34
3     19
4      5
Name: count, dtype: int64

In [196]:
caa = df5['caa'].value_counts()
count_of_four = caa.get(4, 0)

total_instances = len(df5)
print(f"'4' appears {count_of_four} times in 'caa' out of {total_instances} instances.")

'4' appears 5 times in 'caa' out of 289 instances.

Value 4 in caa is most likely a mistake made during data entery

In [193]:
thall_counts = df5['thall'].value_counts()
count_of_zero = thall_counts.get(0, 0)

total_instances = len(df5)
print(f"'0' appears {count_of_zero} times in 'thall' out of {total_instances} instances.")

'0' appears 2 times in 'thall' out of 289 instances.

It appears that the 0 is probbably just an error that happened during input.

In [198]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [199]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [200]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   EKG results              270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 29.7 KB

In [201]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       294 non-null    int64
 1   sex       294 non-null    int64
 2   cp        294 non-null    int64
 3   trestbps  294 non-null    object
 4   chol      294 non-null    object
 5   fbs       294 non-null    object
 6   restecg   294 non-null    object
 7   thalach   294 non-null    object
 8   exang     294 non-null    object
 9   oldpeak   294 non-null    float64
 10  slope     294 non-null    object
 11  ca        294 non-null    object
 12  thal      28 non-null     float64
 13  num       294 non-null    int64
dtypes: float64(2), int64(4), object(8)
memory usage: 32.3+ KB

In [202]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       289 non-null    int64
 1   sex       289 non-null    int64
 2   cp        289 non-null    int64
 3   trtbps    289 non-null    int64
 4   chol      289 non-null    int64
 5   fbs       289 non-null    int64
 6   restecg   289 non-null    int64
 7   thalachh  289 non-null    int64
 8   exng      289 non-null    int64
 9   oldpeak   289 non-null    float64
 10  slp       289 non-null    int64
 11  caa       289 non-null    int64
 12  thall     289 non-null    int64
 13  output    289 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 31.7 KB

Now to change the column/feature names so everything matches.

In [203]:
# Changing the feature names for data frame 1 which is the first dataset
# I changed the names to be the same as the one in dataset 2
df1.rename(columns={
    'trtbps': 'trestbps',
    'thalachh': 'thalach',
    'exng': 'exang',
    'slp': 'slope',
    'caa': 'ca',
    'thall': 'thal',
    'output': 'target'
}, inplace=True)

In [204]:
# Changing the feature names for data frame 3 which is the third dataset
df3.rename(columns={
    'Age': 'age',
    'Sex': 'sex',
    'Chest pain type': 'cp',
    'BP': 'trestbps',
    'Cholesterol': 'chol',
    'FBS over 120': 'fbs',
    'EKG results': 'restecg',
    'Max HR': 'thalach',
    'Exercise angina': 'exang',
    'ST depression': 'oldpeak',
    'Slope of ST': 'slope',
    'Number of vessels fluro': 'ca',
    'Thallium': 'thal',
    'Heart Disease': 'target'
}, inplace=True)

In [205]:
# Changing the feature names for data frame 4 which is the fourth dataset
df4.rename(columns={
    'num': 'target'
}, inplace=True)

In [206]:
# Changing the feature names for data frame 5 which is the fifth dataset
df5.rename(columns={
    'trtbps': 'trestbps',
    'thalachh': 'thalach',
    'exng': 'exang',
    'slp': 'slope',
    'caa': 'ca',
    'thall': 'thal',
    'output': 'target'
}, inplace=True)

In [208]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       294 non-null    int64
 1   sex       294 non-null    int64
 2   cp        294 non-null    int64
 3   trestbps  294 non-null    object
 4   chol      294 non-null    object
 5   fbs       294 non-null    object
 6   restecg   294 non-null    object
 7   thalach   294 non-null    object
 8   exang     294 non-null    object
 9   oldpeak   294 non-null    float64
 10  slope     294 non-null    object
 11  ca        294 non-null    object
 12  thal      28 non-null     float64
 13  target    294 non-null    int64
dtypes: float64(2), int64(4), object(8)
memory usage: 32.3+ KB