In [560]:
#ML Project

Dataset: Heart Disease Dataset
Source: Kaggle

In [561]:
import pandas as pd

In [562]:
df = pd.read_csv(r'Dataset\raw_merged_heart_dataset.csv')

In [563]:
print(df.head())

   age  sex  cp trestbps chol fbs restecg thalachh exang  oldpeak slope ca  \
0   63    1   3      145  233   1       0      150     0      2.3     0  0
1   37    1   2      130  250   0       1      187     0      3.5     0  0
2   41    0   1      130  204   0       0      172     0      1.4     2  0
3   56    1   1      120  236   0       1      178     0      0.8     2  0
4   57    0   0      120  354   0       1      163     1      0.6     2  0

  thal  target
0    1       1
1    2       1
2    2       1
3    2       1
4    2       1

In [564]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2181 entries, 0 to 2180
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       2181 non-null   int64
 1   sex       2181 non-null   int64
 2   cp        2181 non-null   int64
 3   trestbps  2181 non-null   object
 4   chol      2181 non-null   object
 5   fbs       2181 non-null   object
 6   restecg   2181 non-null   object
 7   thalachh  2181 non-null   object
 8   exang     2181 non-null   object
 9   oldpeak   2181 non-null   float64
 10  slope     2181 non-null   object
 11  ca        2181 non-null   object
 12  thal      2181 non-null   object
 13  target    2181 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 238.7+ KB
None

In [565]:
print(df.describe())

               age          sex           cp      oldpeak       target
count  2181.000000  2181.000000  2181.000000  2181.000000  2181.000000
mean     53.477762     0.693260     1.507565     0.990509     0.496103
std       9.194787     0.461246     1.371587     1.141851     0.500099
min      28.000000     0.000000     0.000000     0.000000     0.000000
25%      46.000000     0.000000     0.000000     0.000000     0.000000
50%      54.000000     1.000000     2.000000     0.600000     0.000000
75%      60.000000     1.000000     2.000000     1.600000     1.000000
max      77.000000     1.000000     4.000000     6.200000     1.000000

In [566]:
print(df.isnull().sum())

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalachh    0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

Although the code says there are no missing values, while exploring the dataset manually I noticed that the missing values are marked as ? so I will go through each feature and see what are the distinct values and if there are any ?

In [567]:
age_question_marks = (df['age'] == '?').sum()
print(f"Number of '?' in the 'age' column: {age_question_marks}")

Number of '?' in the 'age' column: 0

In [568]:
sex_question_marks = (df['sex'] == '?').sum()
print(f"Number of '?' in the 'sex' column: {sex_question_marks}")

Number of '?' in the 'sex' column: 0

In [569]:
cp_question_marks = (df['cp'] == '?').sum()
print(f"Number of '?' in the 'cp' column: {cp_question_marks}")

Number of '?' in the 'cp' column: 0

In [570]:
trestbps_question_marks = (df['trestbps'] == '?').sum()
print(f"Number of '?' in the 'trestbps' column: {trestbps_question_marks}")

Number of '?' in the 'trestbps' column: 1

In [571]:
for column in df.columns:
    question_mark_count = (df[column] == '?').sum()
    print(f"Number of '?' in the '{column}' column: {question_mark_count}")

Number of '?' in the 'age' column: 0
Number of '?' in the 'sex' column: 0
Number of '?' in the 'cp' column: 0
Number of '?' in the 'trestbps' column: 1
Number of '?' in the 'chol' column: 23
Number of '?' in the 'fbs' column: 8
Number of '?' in the 'restecg' column: 1
Number of '?' in the 'thalachh' column: 1
Number of '?' in the 'exang' column: 1
Number of '?' in the 'oldpeak' column: 0
Number of '?' in the 'slope' column: 190
Number of '?' in the 'ca' column: 291
Number of '?' in the 'thal' column: 266
Number of '?' in the 'target' column: 0

While manually exploring the data I noticed some other unexpected values, so I will chack for those as well

In [572]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in the '{column}' column: {unique_values}")

Unique values in the 'age' column: [63 37 41 56 57 44 52 54 48 49 64 58 50 66 43 69 59 42 61 40 71 51 65 53
 46 45 39 47 62 34 35 29 55 60 67 68 74 76 70 38 77 28 30 31 32 33 36]
Unique values in the 'sex' column: [1 0]
Unique values in the 'cp' column: [3 2 1 0 4]
Unique values in the 'trestbps' column: ['145' '130' '120' '140' '172' '150' '110' '135' '160' '105' '125' '142'
 '155' '104' '138' '128' '108' '134' '122' '115' '118' '100' '124' '94'
 '112' '102' '152' '101' '132' '148' '178' '129' '180' '136' '126' '106'
 '156' '170' '146' '117' '200' '165' '174' '192' '144' '123' '154' '114'
 '164' '98' '190' '?' '113' '92' '158']
Unique values in the 'chol' column: ['233' '250' '204' '236' '354' '192' '294' '263' '199' '168' '239' '275'
 '266' '211' '283' '219' '340' '226' '247' '234' '243' '302' '212' '175'
 '417' '197' '198' '177' '273' '213' '304' '232' '269' '360' '308' '245'
 '208' '264' '321' '325' '235' '257' '216' '256' '231' '141' '252' '201'
 '222' '260' '182' '303' '265' '309' '186' '203' '183' '220' '209' '258'
 '227' '261' '221' '205' '240' '318' '298' '564' '277' '214' '248' '255'
 '207' '223' '288' '160' '394' '315' '246' '244' '270' '195' '196' '254'
 '126' '313' '262' '215' '193' '271' '268' '267' '210' '295' '306' '178'
 '242' '180' '228' '149' '278' '253' '342' '157' '286' '229' '284' '224'
 '206' '167' '230' '335' '276' '353' '225' '330' '290' '172' '305' '188'
 '282' '185' '326' '274' '164' '307' '249' '341' '407' '217' '174' '281'
 '289' '322' '299' '300' '293' '184' '409' '259' '200' '327' '237' '218'
 '319' '166' '311' '169' '187' '176' '241' '131' '132' '?' '161' '173'
 '194' '297' '292' '339' '147' '291' '358' '412' '238' '163' '280' '202'
 '328' '129' '190' '179' '272' '100' '468' '320' '312' '171' '365' '344'
 '85' '347' '251' '287' '156' '117' '466' '338' '529' '392' '329' '355'
 '603' '404' '518' '285' '279' '388' '336' '491' '331' '393']
Unique values in the 'fbs' column: ['1' '0' '?']
Unique values in the 'restecg' column: ['0' '1' '2' '?']
Unique values in the 'thalachh' column: ['150' '187' '172' '178' '163' '148' '153' '173' '162' '174' '160' '139'
 '171' '144' '158' '114' '151' '161' '179' '137' '157' '123' '152' '168'
 '140' '188' '125' '170' '165' '142' '180' '143' '182' '156' '115' '149'
 '146' '175' '186' '185' '159' '130' '190' '132' '147' '154' '202' '166'
 '164' '184' '122' '169' '138' '111' '145' '194' '131' '133' '155' '167'
 '192' '121' '96' '126' '105' '181' '116' '108' '129' '120' '112' '128'
 '109' '113' '99' '177' '141' '136' '97' '127' '103' '124' '88' '195'
 '106' '95' '117' '71' '118' '134' '90' '98' '176' '135' '110' '?' '100'
 '87' '102' '92' '91' '82' '119' '94']
Unique values in the 'exang' column: ['0' '1' '?']
Unique values in the 'oldpeak' column: [2.3 3.5 1.4 0.8 0.6 0.4 1.3 0.  0.5 1.6 1.2 0.2 1.8 1.  2.6 1.5 3.  2.4
 0.1 1.9 4.2 1.1 2.  0.7 0.3 0.9 3.6 3.1 3.2 2.5 2.2 2.8 3.4 6.2 4.  5.6
 2.9 2.1 3.8 4.4 5. ]
Unique values in the 'slope' column: ['0' '2' '1' '?' '3']
Unique values in the 'ca' column: ['0' '2' '1' '3' '4' '?']
Unique values in the 'thal' column: ['1' '2' '3' '0' '?' '6' '7']
Unique values in the 'target' column: [1 0]

Apart from ? there are some other unexpected values. cp has a value of 4 when the values for that feature should be 0,1,2,3.

Slope has value of 3 when the expected values are 0,1,2

ca has value 4 when expected values are 0,1,2,3
thal expected values are 1,2,3 and there are values 6 and 7

In [573]:
expected_values = {
    'cp': [0, 1, 2, 3],
    'slope': [0, 1, 2],
    'ca': [0, 1, 2, 3],
    'thal': [1, 2, 3]
}

#To count the unexpected values that I previously found
def count_unexpected(df, column, valid_values):
    unexpected_count = df[column][~df[column].isin(valid_values)].value_counts()
    return unexpected_count

#Check each specified column
for column, valid_values in expected_values.items():
    print(f"Unexpected values in the '{column}' column: {count_unexpected(df, column, valid_values)}")

Unexpected values in the 'cp' column: cp
4    252
Name: count, dtype: int64
Unexpected values in the 'slope' column: slope
2    964
1    894
?    190
0    114
3     19
Name: count, dtype: int64
Unexpected values in the 'ca' column: ca
0    1086
1     410
?     291
2     239
3     127
4      28
Name: count, dtype: int64
Unexpected values in the 'thal' column: thal
2    874
3    795
?    266
7    115
1     96
6     24
0     11
Name: count, dtype: int64

Unexpected values:

cp: 252 rows of value 4

slope: 19 rows of value 3

ca: 28 rows of value 4

thal: 11 rows of value 0

thal: 24 rows of value 6

thal: 115 rows of value 7

In [574]:
# I imported all of the individual datasets so i can preprocess them and merge them properly
df1 = pd.read_csv(r'C:\Users\elida\OneDrive\Desktop\Uni-Master 2024\ML\ProjectML\Datasets-to-merge\heart.csv')
df2 = pd.read_csv(r'C:\Users\elida\OneDrive\Desktop\Uni-Master 2024\ML\ProjectML\Datasets-to-merge\heart2.csv')
df3 = pd.read_csv(r'C:\Users\elida\OneDrive\Desktop\Uni-Master 2024\ML\ProjectML\Datasets-to-merge\Heart_Disease_Prediction3.csv')
df4 = pd.read_csv(r'C:\Users\elida\OneDrive\Desktop\Uni-Master 2024\ML\ProjectML\Datasets-to-merge\data4.csv')
df5 = pd.read_csv(r'C:\Users\elida\OneDrive\Desktop\Uni-Master 2024\ML\ProjectML\Datasets-to-merge\heart5.csv')

In [575]:
# To see all of the features
print(df1.columns.tolist())
# To see the features of the og dataset
print(df.columns.tolist())

['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh', 'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output']
['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalachh', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']

In [576]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [577]:
# List of features to check 
features = ['cp', 'fbs', 'restecg', 'exng', 'slp', 'caa', 'thall', 'output']
for feature in features:
    print(f"Distinct values in {feature}: {df1[feature].unique()}")

Distinct values in cp: [3 2 1 0]
Distinct values in fbs: [1 0]
Distinct values in restecg: [0 1 2]
Distinct values in exng: [0 1]
Distinct values in slp: [0 2 1]
Distinct values in caa: [0 2 1 3 4]
Distinct values in thall: [1 2 3 0]
Distinct values in output: [1 0]

I need to check the same thing in the other datasets. caa has value 4 which is not intended. Thall shouldn't have the value 0.

In [578]:
caa_counts = df1['caa'].value_counts()
count_of_four = caa_counts.get(4, 0)

total_instances = len(df1)
print(f"'4' appears {count_of_four} times in 'caa' out of {total_instances} instances.")

'4' appears 5 times in 'caa' out of 303 instances.

4 is most likely a mistake made during data entry.

In [579]:
thall_counts = df1['thall'].value_counts()
count_of_zero = thall_counts.get(0, 0)

total_instances = len(df1)
print(f"'0' appears {count_of_zero} times in 'thall' out of {total_instances} instances.")

'0' appears 2 times in 'thall' out of 303 instances.

thall is most likely also a mistake made during data entry.

In [580]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [581]:
#Unique values in Dataset 2
features = ['cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'target']
for feature in features:
    print(f"Distinct values in {feature}: {df2[feature].unique()}")

Distinct values in cp: [0 1 2 3]
Distinct values in fbs: [0 1]
Distinct values in restecg: [1 0 2]
Distinct values in exang: [0 1]
Distinct values in slope: [2 0 1]
Distinct values in ca: [2 0 1 3 4]
Distinct values in thal: [3 2 1 0]
Distinct values in target: [0 1]

caa shouldn't have the value 4 and thal shouldn't have the value 0.

In [582]:
caa_counts = df2['ca'].value_counts()
count_of_four = caa_counts.get(4, 0)

total_instances = len(df2)
print(f"'4' appears {count_of_four} times in 'ca' out of {total_instances} instances.")

'4' appears 18 times in 'ca' out of 1025 instances.

In [583]:
thall_counts = df2['thal'].value_counts()
count_of_zero = thall_counts.get(0, 0)

total_instances = len(df2)
print(f"'0' appears {count_of_zero} times in 'thal' out of {total_instances} instances.")

'0' appears 7 times in 'thal' out of 1025 instances.

Both 4 in ca and 0 in thal are probably mistakes made during data entery.

In [584]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   EKG results              270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 29.7+ KB

In [585]:
features = ['Chest pain type', 'FBS over 120', 'EKG results', 'Exercise angina', 'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease']
for feature in features:
    print(f"Distinct values in {feature}: {df3[feature].unique()}")

Distinct values in Chest pain type: [4 3 2 1]
Distinct values in FBS over 120: [0 1]
Distinct values in EKG results: [2 0 1]
Distinct values in Exercise angina: [0 1]
Distinct values in Slope of ST: [2 1 3]
Distinct values in Number of vessels fluro: [3 0 1 2]
Distinct values in Thallium: [3 7 6]
Distinct values in Heart Disease: ['Presence' 'Absence']

For dataset 3 I need to change the chest pain to go form 0-3 instead of 1-4. Change slope values from 1-3 to 0-2. Change thal values from 3,6,7 to 1-3. Change presence and absence to 1 and 0.

In [586]:
# changing the values from 1-4 to 0-3
replacement_map = {
    1: 0,
    2: 1,
    3: 2,
    4: 3
}
df3['Chest pain type'] = df3['Chest pain type'].replace(replacement_map)

In [587]:
print(df3['Chest pain type'].value_counts())

Chest pain type
3    129
2     79
1     42
0     20
Name: count, dtype: int64

In [588]:
# changing the values from 1-3 to 0-2 of slope feature
replacement_map = {
    1: 0,
    2: 1,
    3: 2
}
df3['Slope of ST'] = df3['Slope of ST'].replace(replacement_map)

In [589]:
print(df3['Slope of ST'].value_counts())

Slope of ST
0    130
1    122
2     18
Name: count, dtype: int64

In [590]:
# changing the values 3->1, 6->2, 7->3 for Thallium feature
replacement_map = {
    3: 1,
    6: 2,
    7: 3
}
df3['Thallium'] = df3['Thallium'].replace(replacement_map)
print(df3['Thallium'].value_counts())

Thallium
1    152
3    104
2     14
Name: count, dtype: int64

In [591]:
# changing the values Heart Disease feature
replacement_map = {
    'Presence': 1,
    'Absence': 0
}
df3['Heart Disease'] = df3['Heart Disease'].replace(replacement_map)
print(df3['Heart Disease'].value_counts())

Heart Disease
0    150
1    120
Name: count, dtype: int64

C:\Users\elida\AppData\Local\Temp\ipykernel_5424\2247834156.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['Heart Disease'] = df3['Heart Disease'].replace(replacement_map)

In [592]:
features = ['Chest pain type', 'FBS over 120', 'EKG results', 'Exercise angina', 'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease']
for feature in features:
    print(f"Distinct values in {feature}: {df3[feature].unique()}")

Distinct values in Chest pain type: [3 2 1 0]
Distinct values in FBS over 120: [0 1]
Distinct values in EKG results: [2 0 1]
Distinct values in Exercise angina: [0 1]
Distinct values in Slope of ST: [1 0 2]
Distinct values in Number of vessels fluro: [3 0 1 2]
Distinct values in Thallium: [1 3 2]
Distinct values in Heart Disease: [1 0]

In [593]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       294 non-null    int64
 1   sex       294 non-null    int64
 2   cp        294 non-null    int64
 3   trestbps  294 non-null    object
 4   chol      294 non-null    object
 5   fbs       294 non-null    object
 6   restecg   294 non-null    object
 7   thalach   294 non-null    object
 8   exang     294 non-null    object
 9   oldpeak   294 non-null    float64
 10  slope     294 non-null    object
 11  ca        294 non-null    object
 12  thal      294 non-null    object
 13  num       294 non-null    int64
dtypes: float64(1), int64(4), object(9)
memory usage: 32.3+ KB

In [594]:
features = ['cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'num']
for feature in features:
    print(f"Distinct values in {feature}: {df4[feature].unique()}")

Distinct values in cp: [2 1 3 4]
Distinct values in fbs: ['0' '?' '1']
Distinct values in restecg: ['2' '0' '1' '?']
Distinct values in exang: ['0' '1' '?']
Distinct values in slope: ['?' '2' '1' '3']
Distinct values in ca: ['?' '0']
Distinct values in thal: ['?' '6' '3' '7']
Distinct values in num: [0 1]

We can see a lot of fields have ?, which is a representation of missing values.
Values in cp should go from 0-3 instead of 1-4. Change values in thal from 3,6,7 to 1,2,3.

In [595]:
# changing the values form 1-4 to 0-3 for cp feature
replacement_map = {
    1: 0,
    2: 1,
    3: 2,
    4: 3
}
df4['cp'] = df4['cp'].replace(replacement_map)
print(df4['cp'].value_counts())

cp
3    123
1    106
2     54
0     11
Name: count, dtype: int64

In [596]:
# changing the values 3->1, 6->2, 7->3 for thal feature
replacement_map = {
    3: 1,
    6: 2,
    7: 3
}
df4['thal'] = df4['thal'].replace(replacement_map)
print(df4['thal'].value_counts())

thal
?    266
7     11
6     10
3      7
Name: count, dtype: int64

So the code above didn't work because I didn't address the ? values.

In [597]:
import numpy as np

In [598]:
# I change ? to be NaN value 
df4['thal'] = df4['thal'].replace('?', np.nan)
# to make sure that the column is a numaric type after changing ? to NaN
df4['thal'] = pd.to_numeric(df4['thal'], errors='coerce')
replacement_map = {
    3: 1,
    6: 2,
    7: 3
}
df4['thal'] = df4['thal'].replace(replacement_map)
print(df4['thal'].value_counts())

thal
3.0    11
2.0    10
1.0     7
Name: count, dtype: int64

In [599]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       289 non-null    int64
 1   sex       289 non-null    int64
 2   cp        289 non-null    int64
 3   trtbps    289 non-null    int64
 4   chol      289 non-null    int64
 5   fbs       289 non-null    int64
 6   restecg   289 non-null    int64
 7   thalachh  289 non-null    int64
 8   exng      289 non-null    int64
 9   oldpeak   289 non-null    float64
 10  slp       289 non-null    int64
 11  caa       289 non-null    int64
 12  thall     289 non-null    int64
 13  output    289 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 31.7 KB

In [600]:
features = ['cp', 'fbs', 'restecg', 'exng', 'slp', 'caa', 'thall', 'output']
for feature in features:
    print(f"Distinct values in {feature}: {df5[feature].unique()}")

Distinct values in cp: [3 2 1 0]
Distinct values in fbs: [1 0]
Distinct values in restecg: [0 1 2]
Distinct values in exng: [0 1]
Distinct values in slp: [0 2 1]
Distinct values in caa: [0 2 1 3 4]
Distinct values in thall: [1 2 3 0]
Distinct values in output: [1 0]

4 in caa is unexpected, the values go from 0-3. thal should go from 1-3

In [601]:
print(df5['caa'].value_counts())

caa
0    170
1     61
2     34
3     19
4      5
Name: count, dtype: int64

In [602]:
caa = df5['caa'].value_counts()
count_of_four = caa.get(4, 0)

total_instances = len(df5)
print(f"'4' appears {count_of_four} times in 'caa' out of {total_instances} instances.")

'4' appears 5 times in 'caa' out of 289 instances.

Value 4 in caa is most likely a mistake made during data entery

In [603]:
thall_counts = df5['thall'].value_counts()
count_of_zero = thall_counts.get(0, 0)

total_instances = len(df5)
print(f"'0' appears {count_of_zero} times in 'thall' out of {total_instances} instances.")

'0' appears 2 times in 'thall' out of 289 instances.

It appears that the 0 is probbably just an error that happened during input.

In [604]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [605]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [606]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   EKG results              270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 29.7 KB

In [607]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       294 non-null    int64
 1   sex       294 non-null    int64
 2   cp        294 non-null    int64
 3   trestbps  294 non-null    object
 4   chol      294 non-null    object
 5   fbs       294 non-null    object
 6   restecg   294 non-null    object
 7   thalach   294 non-null    object
 8   exang     294 non-null    object
 9   oldpeak   294 non-null    float64
 10  slope     294 non-null    object
 11  ca        294 non-null    object
 12  thal      28 non-null     float64
 13  num       294 non-null    int64
dtypes: float64(2), int64(4), object(8)
memory usage: 32.3+ KB

In [608]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       289 non-null    int64
 1   sex       289 non-null    int64
 2   cp        289 non-null    int64
 3   trtbps    289 non-null    int64
 4   chol      289 non-null    int64
 5   fbs       289 non-null    int64
 6   restecg   289 non-null    int64
 7   thalachh  289 non-null    int64
 8   exng      289 non-null    int64
 9   oldpeak   289 non-null    float64
 10  slp       289 non-null    int64
 11  caa       289 non-null    int64
 12  thall     289 non-null    int64
 13  output    289 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 31.7 KB

Now to change the column/feature names so everything matches.

In [609]:
# Changing the feature names for data frame 1 which is the first dataset
# I changed the names to be the same as the one in dataset 2
df1.rename(columns={
    'trtbps': 'trestbps',
    'thalachh': 'thalach',
    'exng': 'exang',
    'slp': 'slope',
    'caa': 'ca',
    'thall': 'thal',
    'output': 'target'
}, inplace=True)

In [610]:
# Changing the feature names for data frame 3 which is the third dataset
df3.rename(columns={
    'Age': 'age',
    'Sex': 'sex',
    'Chest pain type': 'cp',
    'BP': 'trestbps',
    'Cholesterol': 'chol',
    'FBS over 120': 'fbs',
    'EKG results': 'restecg',
    'Max HR': 'thalach',
    'Exercise angina': 'exang',
    'ST depression': 'oldpeak',
    'Slope of ST': 'slope',
    'Number of vessels fluro': 'ca',
    'Thallium': 'thal',
    'Heart Disease': 'target'
}, inplace=True)

In [611]:
# Changing the feature names for data frame 4 which is the fourth dataset
df4.rename(columns={
    'num': 'target'
}, inplace=True)

In [612]:
# Changing the feature names for data frame 5 which is the fifth dataset
df5.rename(columns={
    'trtbps': 'trestbps',
    'thalachh': 'thalach',
    'exng': 'exang',
    'slp': 'slope',
    'caa': 'ca',
    'thall': 'thal',
    'output': 'target'
}, inplace=True)

In [613]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       294 non-null    int64
 1   sex       294 non-null    int64
 2   cp        294 non-null    int64
 3   trestbps  294 non-null    object
 4   chol      294 non-null    object
 5   fbs       294 non-null    object
 6   restecg   294 non-null    object
 7   thalach   294 non-null    object
 8   exang     294 non-null    object
 9   oldpeak   294 non-null    float64
 10  slope     294 non-null    object
 11  ca        294 non-null    object
 12  thal      28 non-null     float64
 13  target    294 non-null    int64
dtypes: float64(2), int64(4), object(8)
memory usage: 32.3+ KB

In [614]:
print("Features in df1:", df1.columns.tolist())
print("Features in df2:", df2.columns.tolist())
print("Features in df3:", df3.columns.tolist())
print("Features in df4:", df4.columns.tolist())
print("Features in df5:", df5.columns.tolist())

Features in df1: ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']
Features in df2: ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']
Features in df3: ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']
Features in df4: ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']
Features in df5: ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']

All of the features have the same name now

In [615]:
#To check if the features in all the data frames have the same range in case I missed some features that need to be transformed
dataframes = [df1, df2, df3, df4, df5]
df_names = ['df1', 'df2', 'df3', 'df4', 'df5']

# This will loop through each df and and tell me the unique values for each feature
for df, name in zip(dataframes, df_names):
    print(f"Unique values in {name}:")
    for column in df.columns:
        print(f"{column}: {df[column].unique()}")
    print()

Unique values in df1:
age: [63 37 41 56 57 44 52 54 48 49 64 58 50 66 43 69 59 42 61 40 71 51 65 53
 46 45 39 47 62 34 35 29 55 60 67 68 74 76 70 38 77]
sex: [1 0]
cp: [3 2 1 0]
trestbps: [145 130 120 140 172 150 110 135 160 105 125 142 155 104 138 128 108 134
 122 115 118 100 124  94 112 102 152 101 132 148 178 129 180 136 126 106
 156 170 146 117 200 165 174 192 144 123 154 114 164]
chol: [233 250 204 236 354 192 294 263 199 168 239 275 266 211 283 219 340 226
 247 234 243 302 212 175 417 197 198 177 273 213 304 232 269 360 308 245
 208 264 321 325 235 257 216 256 231 141 252 201 222 260 182 303 265 309
 186 203 183 220 209 258 227 261 221 205 240 318 298 564 277 214 248 255
 207 223 288 160 394 315 246 244 270 195 196 254 126 313 262 215 193 271
 268 267 210 295 306 178 242 180 228 149 278 253 342 157 286 229 284 224
 206 167 230 335 276 353 225 330 290 172 305 188 282 185 326 274 164 307
 249 341 407 217 174 281 289 322 299 300 293 184 409 259 200 327 237 218
 319 166 311 169 187 176 241 131]
fbs: [1 0]
restecg: [0 1 2]
thalach: [150 187 172 178 163 148 153 173 162 174 160 139 171 144 158 114 151 161
 179 137 157 123 152 168 140 188 125 170 165 142 180 143 182 156 115 149
 146 175 186 185 159 130 190 132 147 154 202 166 164 184 122 169 138 111
 145 194 131 133 155 167 192 121  96 126 105 181 116 108 129 120 112 128
 109 113  99 177 141 136  97 127 103 124  88 195 106  95 117  71 118 134
  90]
exang: [0 1]
oldpeak: [2.3 3.5 1.4 0.8 0.6 0.4 1.3 0.  0.5 1.6 1.2 0.2 1.8 1.  2.6 1.5 3.  2.4
 0.1 1.9 4.2 1.1 2.  0.7 0.3 0.9 3.6 3.1 3.2 2.5 2.2 2.8 3.4 6.2 4.  5.6
 2.9 2.1 3.8 4.4]
slope: [0 2 1]
ca: [0 2 1 3 4]
thal: [1 2 3 0]
target: [1 0]

Unique values in df2:
age: [52 53 70 61 62 58 55 46 54 71 43 34 51 50 60 67 45 63 42 44 56 57 59 64
 65 41 66 38 49 48 29 37 47 68 76 40 39 77 69 35 74]
sex: [1 0]
cp: [0 1 2 3]
trestbps: [125 140 145 148 138 100 114 160 120 122 112 132 118 128 124 106 104 135
 130 136 180 129 150 178 146 117 152 154 170 134 174 144 108 123 110 142
 126 192 115  94 200 165 102 105 155 172 164 156 101]
chol: [212 203 174 294 248 318 289 249 286 149 341 210 298 204 308 266 244 211
 185 223 208 252 209 307 233 319 256 327 169 131 269 196 231 213 271 263
 229 360 258 330 342 226 228 278 230 283 241 175 188 217 193 245 232 299
 288 197 315 215 164 326 207 177 257 255 187 201 220 268 267 236 303 282
 126 309 186 275 281 206 335 218 254 295 417 260 240 302 192 225 325 235
 274 234 182 167 172 321 300 199 564 157 304 222 184 354 160 247 239 246
 409 293 180 250 221 200 227 243 311 261 242 205 306 219 353 198 394 183
 237 224 265 313 340 259 270 216 264 276 322 214 273 253 176 284 305 168
 407 290 277 262 195 166 178 141]
fbs: [0 1]
restecg: [1 0 2]
thalach: [168 155 125 161 106 122 140 145 144 116 136 192 156 142 109 162 165 148
 172 173 146 179 152 117 115 112 163 147 182 105 150 151 169 166 178 132
 160 123 139 111 180 164 202 157 159 170 138 175 158 126 143 141 167  95
 190 118 103 181 108 177 134 120 171 149 154 153  88 174 114 195 133  96
 124 131 185 194 128 127 186 184 188 130  71 137  99 121 187  97  90 129
 113]
exang: [0 1]
oldpeak: [1.  3.1 2.6 0.  1.9 4.4 0.8 3.2 1.6 3.  0.7 4.2 1.5 2.2 1.1 0.3 0.4 0.6
 3.4 2.8 1.2 2.9 3.6 1.4 0.2 2.  5.6 0.9 1.8 6.2 4.  2.5 0.5 0.1 2.1 2.4
 3.8 2.3 1.3 3.5]
slope: [2 0 1]
ca: [2 0 1 3 4]
thal: [3 2 1 0]
target: [0 1]

Unique values in df3:
age: [70 67 57 64 74 65 56 59 60 63 53 44 61 71 46 40 48 43 47 54 51 58 66 37
 50 42 62 49 52 45 41 76 39 35 55 34 38 69 68 77 29]
sex: [1 0]
cp: [3 2 1 0]
trestbps: [130 115 124 128 120 110 140 150 135 142 134 112 132 138 160 170 144 122
 152 101 126 118 136 105 174 145 108 156 106 104  94 146 148 178 125 100
 165 180 158 200 117 192 123 129 102 155 172]
chol: [322 564 261 263 269 177 256 239 293 407 234 226 235 303 149 311 203 211
 199 229 245 204 288 275 243 295 230 265 228 215 326 200 207 273 180 222
 223 209 233 197 218 246 225 315 205 417 195 198 166 178 249 281 126 305
 240 276 319 242 260 354 309 208 236 270 214 201 244 306 221 330 266 206
 212 302 313 141 237 289 254 274 258 160 327 304 271 283 188 286 360 267
 196 232 277 210 213 282 167 224 268 250 219 217 308 193 231 262 259 325
 299 182 294 298 409 172 184 394 174 255 248 300 318 216 252 227 220 168
 183 341 186 307 164 257 321 264 253 185 290 175 353 335 247 340 284 192]
fbs: [0 1]
restecg: [2 0 1]
thalach: [109 160 141 105 121 140 142 170 154 161 111 180 145 159 125 120 155 144
 178 129 181 143 139 152 157 165 130 150 138 126 186 163 179 156 134 177
 114 184 175 168  96 103 173 169 171 112 149 116 147 148 128 164 108 118
 151 133 162  71 124 166 117 153  88  99 158 132 172 192 182 195  95 167
 122 174 131 146 115 106 194 187 202 127  97 136 190 185 113 188 123 137]
exang: [0 1]
oldpeak: [2.4 1.6 0.3 0.2 0.4 0.6 1.2 4.  0.5 0.  2.6 1.8 3.1 1.4 0.1 2.5 2.3 3.4
 0.9 1.9 2.2 0.8 1.  3.6 1.1 3.  2.  1.5 4.2 3.2 0.7 5.6 3.8 2.1 2.9 2.8
 3.5 6.2 1.3]
slope: [1 0 2]
ca: [3 0 1 2]
thal: [1 3 2]
target: [1 0]

Unique values in df4:
age: [28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51
 52 53 54 55 56 57 58 59 60 61 62 63 65 66]
sex: [1 0]
cp: [1 0 2 3]
trestbps: ['130' '120' '140' '170' '100' '105' '110' '125' '150' '98' '112' '145'
 '190' '160' '115' '142' '180' '132' '135' '?' '108' '124' '113' '122'
 '92' '118' '106' '200' '138' '136' '128' '155']
chol: ['132' '243' '?' '237' '219' '198' '225' '254' '298' '161' '214' '220'
 '160' '167' '308' '264' '166' '340' '209' '260' '211' '173' '283' '194'
 '223' '315' '275' '297' '292' '182' '200' '204' '241' '339' '147' '273'
 '307' '289' '215' '281' '250' '184' '245' '291' '295' '269' '196' '268'
 '228' '358' '201' '249' '266' '186' '207' '218' '412' '224' '238' '230'
 '163' '240' '280' '257' '263' '276' '284' '195' '227' '253' '187' '202'
 '328' '168' '216' '129' '190' '188' '179' '210' '272' '180' '100' '259'
 '468' '274' '320' '221' '309' '312' '171' '208' '246' '305' '217' '365'
 '344' '394' '256' '326' '277' '270' '229' '85' '347' '251' '222' '287'
 '318' '213' '294' '193' '271' '156' '267' '282' '117' '466' '247' '226'
 '265' '206' '288' '303' '338' '248' '306' '529' '392' '231' '329' '355'
 '233' '242' '603' '255' '172' '175' '290' '341' '234' '342' '404' '518'
 '285' '279' '388' '164' '336' '491' '205' '212' '331' '393']
fbs: ['0' '?' '1']
restecg: ['2' '0' '1' '?']
thalach: ['185' '160' '170' '150' '165' '184' '155' '190' '168' '180' '178' '172'
 '130' '142' '98' '158' '129' '146' '145' '120' '106' '132' '140' '138'
 '167' '188' '144' '137' '136' '152' '175' '176' '118' '154' '115' '135'
 '122' '110' '90' '116' '174' '125' '?' '148' '100' '164' '139' '127'
 '162' '112' '134' '114' '128' '126' '124' '153' '166' '103' '156' '87'
 '102' '92' '99' '121' '91' '108' '96' '82' '105' '143' '119' '94']
exang: ['0' '1' '?']
oldpeak: [0.  1.  2.  1.5 0.5 3.  0.8 2.5 4.  5. ]
slope: ['?' '2' '1' '3']
ca: ['?' '0']
thal: [nan  2.  1.  3.]
target: [0 1]

Unique values in df5:
age: [60 35 41 55 56 44 52 57 54 48 49 64 50 58 66 40 69 59 42 61 71 51 65 53
 46 45 39 47 62 63 34 29 43 67 68 37 74 76 70 38 77]
sex: [1 0]
cp: [3 2 1 0]
trestbps: [145 130 120 140 172 150 110 135 160 105 125 142 155 104 138 128 108 134
 122 115 118 100 124  94 112 102 152 101 132 148 178 129 180 136 126 106
 156 170 146 117 200 165 174 192 144 123 154]
chol: [233 250 204 236 354 192 294 263 199 168 239 275 266 211 283 219 340 226
 247 234 243 302 212 175 417 197 198 177 273 213 304 232 269 360 308 245
 208 264 321 325 235 257 216 256 231 141 252 201 222 260 182 303 265 309
 186 203 183 220 209 258 227 261 221 205 240 318 298 564 277 214 248 255
 207 223 288 160 394 315 246 244 270 195 196 254 126 313 262 215 193 271
 268 267 210 295 306 178 242 180 228 149 278 253 342 157 286 229 284 224
 206 167 230 335 276 353 225 330 290 172 305 188 282 185 326 274 164 307
 249 341 407 217 174 281 289 322 299 300 293 184 409 259 200 327 237 218
 319 166 311]
fbs: [1 0]
restecg: [0 1 2]
thalach: [150 187 172 178 163 148 153 173 162 174 160 139 171 144 158 114 151 161
 179 137 157 123 152 168 140 188 125 170 165 142 180 143 182 156 115 149
 146 175 186 185 159 130 190 132 147 154 202 166 164 184 122 169 138 111
 145 194 131 133 155 167 192 121  96 126 105 181 116 108 129 120 112 128
 109 113  99 177 141 136  97 127 103 124  88 195 106  95 117  71 118 134]
exang: [0 1]
oldpeak: [2.3 3.5 1.4 0.8 0.6 0.4 1.3 0.  0.5 1.6 1.2 0.2 1.8 1.  2.6 1.5 3.  2.4
 0.1 1.9 4.2 1.1 2.  0.7 0.3 0.9 3.6 3.1 3.2 2.5 2.2 2.8 3.4 6.2 4.  5.6
 2.9 2.1 3.8]
slope: [0 2 1]
ca: [0 2 1 3 4]
thal: [1 2 3 0]
target: [1 0]

I will replace ? values to NaN to signify it as missing values

In [616]:
df4.replace("?", np.nan, inplace=True)

In [617]:
df1.info()
df2.info()
df3.info()
df4.info()
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       270 non-null    int64
 1   sex       270 non-null    int64
 2   cp        270 non-null    int64
 3   trestbps  270 non-null    int64
 4   chol      270 non-null    int64
 5   fbs       270 non-null    int64
 6   restecg   270 non-null    int64
 7   thalach   270 non-null    int64
 8   exang     270 non-null    int64
 9   oldpeak   270 non-null    float64
 10  slope     270 non-null    int64
 11  ca        270 non-null    int64
 12  thal      270 non-null    int64
 13  target    270 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 29.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       294 non-null    int64
 1   sex       294 non-null    int64
 2   cp        294 non-null    int64
 3   trestbps  293 non-null    object
 4   chol      271 non-null    object
 5   fbs       286 non-null    object
 6   restecg   293 non-null    object
 7   thalach   293 non-null    object
 8   exang     293 non-null    object
 9   oldpeak   294 non-null    float64
 10  slope     104 non-null    object
 11  ca        3 non-null      object
 12  thal      28 non-null     float64
 13  target    294 non-null    int64
dtypes: float64(2), int64(4), object(8)
memory usage: 32.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       289 non-null    int64
 1   sex       289 non-null    int64
 2   cp        289 non-null    int64
 3   trestbps  289 non-null    int64
 4   chol      289 non-null    int64
 5   fbs       289 non-null    int64
 6   restecg   289 non-null    int64
 7   thalach   289 non-null    int64
 8   exang     289 non-null    int64
 9   oldpeak   289 non-null    float64
 10  slope     289 non-null    int64
 11  ca        289 non-null    int64
 12  thal      289 non-null    int64
 13  target    289 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 31.7 KB

Based on the output of the code above, I need to change the following feature types:
- trestbps feature in df4 from object to int64
- chol feature in df4 from object to int64
- fbs feature in df4 from object to int64
- restecg feature in df4 from object to int64
- thalach feature in df4 from object to int64
- examg feature in df4 from object to int64
- slope feature in df4 from object to int64
- ca feature in df4 from object to int64
- thal feature in df4 from float64 to int64

In [618]:
# makes sure that the data in the column is either nan or numerical and othervise makes it nan
df4['trestbps'] = pd.to_numeric(df4['trestbps'], errors='coerce')
# Changing the actual data type of the colum into Int64
df4['trestbps'] = df4['trestbps'].astype('Int64')

# Making sure it worked
print(df4['trestbps'].dtype)
print(df4['trestbps'].unique())

Int64
<IntegerArray>
[ 130,  120,  140,  170,  100,  105,  110,  125,  150,   98,  112,  145,  190,
  160,  115,  142,  180,  132,  135, <NA>,  108,  124,  113,  122,   92,  118,
  106,  200,  138,  136,  128,  155]
Length: 32, dtype: Int64

In [619]:
# I put all of the feature names in a list 
columns_to_convert = ['chol', 'fbs', 'restecg', 'thalach', 'exang', 'slope', 'ca', 'thal']

# The for loop goes through each column in the list and converts it to numeric (coercing errors to NaN), then convert to Int64
for column in columns_to_convert:
    df4[column] = pd.to_numeric(df4[column], errors='coerce')
    df4[column] = df4[column].astype('Int64')

# To check if it worked properly
for column in columns_to_convert:
    print(f"{column} dtype: {df4[column].dtype}")
    print(f"Unique values in {column}: {df4[column].unique()}")

chol dtype: Int64
Unique values in chol: <IntegerArray>
[ 132,  243, <NA>,  237,  219,  198,  225,  254,  298,  161,
 ...
  285,  279,  388,  164,  336,  491,  205,  212,  331,  393]
Length: 154, dtype: Int64
fbs dtype: Int64
Unique values in fbs: <IntegerArray>
[0, <NA>, 1]
Length: 3, dtype: Int64
restecg dtype: Int64
Unique values in restecg: <IntegerArray>
[2, 0, 1, <NA>]
Length: 4, dtype: Int64
thalach dtype: Int64
Unique values in thalach: <IntegerArray>
[ 185,  160,  170,  150,  165,  184,  155,  190,  168,  180,  178,  172,  130,
  142,   98,  158,  129,  146,  145,  120,  106,  132,  140,  138,  167,  188,
  144,  137,  136,  152,  175,  176,  118,  154,  115,  135,  122,  110,   90,
  116,  174,  125, <NA>,  148,  100,  164,  139,  127,  162,  112,  134,  114,
  128,  126,  124,  153,  166,  103,  156,   87,  102,   92,   99,  121,   91,
  108,   96,   82,  105,  143,  119,   94]
Length: 72, dtype: Int64
exang dtype: Int64
Unique values in exang: <IntegerArray>
[0, 1, <NA>]
Length: 3, dtype: Int64
slope dtype: Int64
Unique values in slope: <IntegerArray>
[<NA>, 2, 1, 3]
Length: 4, dtype: Int64
ca dtype: Int64
Unique values in ca: <IntegerArray>
[<NA>, 0]
Length: 2, dtype: Int64
thal dtype: Int64
Unique values in thal: <IntegerArray>
[<NA>, 2, 1, 3]
Length: 4, dtype: Int64

In [620]:
# Print unique values of 'slope' in each DataFrame
print("Unique values in df1 for 'slope':", df1['slope'].unique())
print("Unique values in df2 for 'slope':", df2['slope'].unique())
print("Unique values in df3 for 'slope':", df3['slope'].unique())
print("Unique values in df4 for 'slope':", df4['slope'].unique())
print("Unique values in df5 for 'slope':", df5['slope'].unique())

Unique values in df1 for 'slope': [0 2 1]
Unique values in df2 for 'slope': [2 0 1]
Unique values in df3 for 'slope': [1 0 2]
Unique values in df4 for 'slope': <IntegerArray>
[<NA>, 2, 1, 3]
Length: 4, dtype: Int64
Unique values in df5 for 'slope': [0 2 1]

I also need to change the values for slope in df4

In [621]:
replacement_map = {
    1: 0,
    2: 1,
    3: 2
}
df4['slope'] = df4['slope'].replace(replacement_map)
print(df4['slope'].value_counts())

slope
1    91
0    12
2     1
Name: count, dtype: Int64

In [622]:
# Print unique values of 'ca' in each DataFrame
print("Unique values in df1 for 'ca':", df1['ca'].unique())
print("Unique values in df2 for 'ca':", df2['ca'].unique())
print("Unique values in df3 for 'ca':", df3['ca'].unique())
print("Unique values in df4 for 'ca':", df4['ca'].unique())
print("Unique values in df5 for 'ca':", df5['ca'].unique())

Unique values in df1 for 'ca': [0 2 1 3 4]
Unique values in df2 for 'ca': [2 0 1 3 4]
Unique values in df3 for 'ca': [3 0 1 2]
Unique values in df4 for 'ca': <IntegerArray>
[<NA>, 0]
Length: 2, dtype: Int64
Unique values in df5 for 'ca': [0 2 1 3 4]

In [623]:
# Print unique values of 'thal' in each DataFrame
print("Unique values in df1 for 'thal':", df1['thal'].unique())
print("Unique values in df2 for 'thal':", df2['thal'].unique())
print("Unique values in df3 for 'thal':", df3['thal'].unique())
print("Unique values in df4 for 'thal':", df4['thal'].unique())
print("Unique values in df5 for 'thal':", df5['thal'].unique())

Unique values in df1 for 'thal': [1 2 3 0]
Unique values in df2 for 'thal': [3 2 1 0]
Unique values in df3 for 'thal': [1 3 2]
Unique values in df4 for 'thal': <IntegerArray>
[<NA>, 2, 1, 3]
Length: 4, dtype: Int64
Unique values in df5 for 'thal': [1 2 3 0]

In [624]:
df1.to_csv('df1.csv', index=False)
df2.to_csv('df2.csv', index=False)
df3.to_csv('df3.csv', index=False)
df4.to_csv('df4.csv', index=False)
df5.to_csv('df5.csv', index=False)

Now that I have converted everything, I will merge the data frames into one using concatination

In [625]:
dataframes = [df1, df2, df3, df4, df5]
merged_df = pd.concat(dataframes, ignore_index=True)

In [626]:
print("Merged DataFrame shape:", merged_df.shape)

Merged DataFrame shape: (2181, 14)

In [627]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2181 entries, 0 to 2180
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       2181 non-null   int64
 1   sex       2181 non-null   int64
 2   cp        2181 non-null   int64
 3   trestbps  2180 non-null   Int64
 4   chol      2158 non-null   Int64
 5   fbs       2173 non-null   Int64
 6   restecg   2180 non-null   Int64
 7   thalach   2180 non-null   Int64
 8   exang     2180 non-null   Int64
 9   oldpeak   2181 non-null   float64
 10  slope     1991 non-null   Int64
 11  ca        1890 non-null   Int64
 12  thal      1915 non-null   Int64
 13  target    2181 non-null   int64
dtypes: Int64(9), float64(1), int64(4)
memory usage: 257.8 KB

In [628]:
merged_df.to_csv('merged_df.csv', index=False)

In [629]:
missing_values = merged_df.isna().sum()
print(missing_values)

age           0
sex           0
cp            0
trestbps      1
chol         23
fbs           8
restecg       1
thalach       1
exang         1
oldpeak       0
slope       190
ca          291
thal        266
target        0
dtype: int64

In [630]:
total_entries = len(merged_df)
missing_percentages = (merged_df.isna().sum() / total_entries) * 100
print(missing_percentages)

age          0.000000
sex          0.000000
cp           0.000000
trestbps     0.045851
chol         1.054562
fbs          0.366804
restecg      0.045851
thalach      0.045851
exang        0.045851
oldpeak      0.000000
slope        8.711600
ca          13.342503
thal        12.196240
target       0.000000
dtype: float64

None of my features have more than 14% missing data. The feature that has the largest amount of missing data is ca.

In [631]:
# To count how many times 1 and 0 appear in the target feature
class_balance = merged_df['target'].value_counts()

# To calculate the percentage of each class
class_percentage = (class_balance / len(merged_df) * 100)

print("Class balance in the target feature:")
print(class_balance)
print("\nClass balance in the target feature in %:")
print(class_percentage)

Class balance in the target feature:
target
0    1099
1    1082
Name: count, dtype: int64

Class balance in the target feature in %:
target
0    50.389729
1    49.610271
Name: count, dtype: float64

I checked the class balance of the target feature, now I will check for other categorical features.

In [632]:
categorical_features = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']
for feature in categorical_features:
    class_balance = merged_df[feature].value_counts()
   
    percentages = (class_balance / len(merged_df) * 100).round(2)  
    # I rounded it for beter uniformity
    print(f"Class balance for {feature} (count):")
    print(class_balance)
    print(f"Class balance for {feature} (percentage):")
    print(percentages)
    print("\n")  # Adding a new line for better separation between features

Class balance for sex (count):
sex
1    1512
0     669
Name: count, dtype: int64
Class balance for sex (percentage):
sex
1    69.33
0    30.67
Name: count, dtype: float64


Class balance for cp (count):
cp
0    797
2    590
1    419
3    375
Name: count, dtype: int64
Class balance for cp (percentage):
cp
0    36.54
2    27.05
1    19.21
3    17.19
Name: count, dtype: float64


Class balance for fbs (count):
fbs
0    1873
1     300
Name: count, dtype: Int64
Class balance for fbs (percentage):
fbs
0    85.88
1    13.76
Name: count, dtype: Float64


Class balance for restecg (count):
restecg
0    1152
1     864
2     164
Name: count, dtype: Int64
Class balance for restecg (percentage):
restecg
0    52.82
1    39.61
2     7.52
Name: count, dtype: Float64


Class balance for exang (count):
exang
0    1466
1     714
Name: count, dtype: Int64
Class balance for exang (percentage):
exang
0    67.22
1    32.74
Name: count, dtype: Float64


Class balance for slope (count):
slope
1    965
2    770
0    256
Name: count, dtype: Int64
Class balance for slope (percentage):
slope
1    44.25
2     35.3
0    11.74
Name: count, dtype: Float64


Class balance for ca (count):
ca
0    1086
1     410
2     239
3     127
4      28
Name: count, dtype: Int64
Class balance for ca (percentage):
ca
0    49.79
1     18.8
2    10.96
3     5.82
4     1.28
Name: count, dtype: Float64


Class balance for thal (count):
thal
2    898
3    751
1    255
0     11
Name: count, dtype: Int64
Class balance for thal (percentage):
thal
2    41.17
3    34.43
1    11.69
0      0.5
Name: count, dtype: Float64

In [633]:
merged_df = merged_df.drop(merged_df[merged_df['thal'] == 0].index)

# Verify the operation by checking if there are any rows with 'thal' equal to 0
print("Number of rows with 'thal' equal to 0:", (merged_df['thal'] == 0).sum())
print("Shape of DataFrame after filtering:", merged_df.shape)

Number of rows with 'thal' equal to 0: 0
Shape of DataFrame after filtering: (2170, 14)

In [634]:
merged_df.to_csv('merged_df.csv', index=False)

In [635]:
print("Number of rows with 'ca' equal to 4:", (merged_df['ca'] == 4).sum())

Number of rows with 'ca' equal to 4: 28

In [636]:
merged_df = merged_df.drop(merged_df[merged_df['ca'] == 4].index)
print("Number of rows with 'ca' equal to 4:", (merged_df['ca'] == 4).sum())

Number of rows with 'ca' equal to 4: 0